:root {
  --ion-color-danger: #0A9396;
  --ion-color-danger-rgb: 10, 147, 150;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #0a8284;
  --ion-color-danger-tint: #13a9ab;

  --ion-color-primary: #0A9396;
  --ion-color-primary-rgb: 10, 147, 150;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0b6163;
  --ion-color-primary-tint: #13a9ab;

  --ion-color-secondary: #13a9ab;
  --ion-color-secondary-rgb: 19, 169, 171;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #119ea0;
  --ion-color-secondary-tint: #1cc1c3;

  --ion-color-tertiary: #0a8284;
  --ion-color-tertiary-rgb: 10, 130, 132;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #097075;
  --ion-color-tertiary-tint: #0c9aa0;
}

/* 👇 Agrega esto al final */
ion-content {
  --padding-top: env(safe-area-inset-top);
  --padding-bottom: env(safe-area-inset-bottom);
}
