@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">');

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  /* Hides the scrollbar */
}

:root {

  --ion-background-color: #ffffff;
  --ion-color-danger: #0A9396;
  --ion-color-danger-rgb: 10, 147, 150;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #0a8284;
  --ion-color-danger-tint: #13a9ab;
}


ion-menu ion-item ion-icon[slot="start"] {
  margin-right: 12px; 
}

.custom-searchbar {
  --background: #d3a5a5;
  --box-shadow: 0 0 0 1px #ccc;
  border-radius: 8px;
}

